<form [formGroup]="addMatchForm" (ngSubmit)="addMatch($event)">

    <md-select class="txt" placeholder="Player A" formControlName="playerA">
        <md-option *ngFor="let player of players" [value]="player.$key">{{player.name}}</md-option>
    </md-select>

    <md-select class="txt" placeholder="Player B" formControlName="playerB">
        <md-option *ngFor="let player of players" [value]="player.$key">{{player.name}}</md-option>
    </md-select>
    <md-input-container>
        <input mdInput type="date" formControlName="dateOfMatch" placeholder="date of the match" />
    </md-input-container>
    <h3>Regular Time</h3>
    <md-input-container>
        <input mdInput placeholder="A" maxlength="2" formControlName="playerAScoreReg" />
        <md-hint align="end"></md-hint>

    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="B" maxlength="2" formControlName="playerBScoreReg" />
        <md-hint align="end"></md-hint>

    </md-input-container>
    <h3>Overtime</h3>
    <md-input-container>
        <input mdInput placeholder="A" maxlength="2" formControlName="playerAScoreOvertime" />
        <md-hint align="end"></md-hint>

    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="B" maxlength="2" formControlName="playerBScoreOvertime" />
        <md-hint align="end"></md-hint>

    </md-input-container>

    <h3>Penalties</h3>
    <md-input-container>
        <input mdInput placeholder="A" maxlength="2" formControlName="playerAScorePenalties" />
        <md-hint align="end"></md-hint>

    </md-input-container>
    <md-input-container>
        <input mdInput placeholder="B" maxlength="2" formControlName="playerBScorePenalties" />
        <md-hint align="end"></md-hint>

    </md-input-container>

    <button md-button type="submit" class="basic-btn">Add a match</button>
</form>