<div class="form-container">
  <ul *ngFor="let match of matches | async">
    <li>
      {{match.$key}}
    </li>
  </ul>
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <input type="search" placeholder="" (ngModel)="playerB" name="playerB" class="txt" required>
    <ul>
        <li *ngFor="let player of players | async">{{player.name}}</li>
    </ul>
    <input type="datetime" (ngModel)="matchTime" name="matchTime" required>

    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Add a match</button>
  </form>
</div>